% my $title = 'したらば掲示板ビューア for Mobile Safari';
<html>
<head>
<title><%= $title %></title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<link rel="apple-touch-icon" href="/static/iui/iui-logo-touch-icon.png" />
<meta name="apple-touch-fullscreen" content="YES" />
<style type="text/css" media="screen">@import "/static/iui/iui.css";</style>
<script type="application/x-javascript" src="/static/iui/iui.js"></script>
</head>
<body>

    <div class="toolbar">
        <h1 id="pageTitle"></h1>
        <a id="backButton" class="button" href="#"></a>
        <a class="button" href="#searchForm">Search</a>
    </div>

    <form id="searchForm" class="dialog" action="" selected="true">
        <fieldset>
            <h1>iPhone/iPod Touch用に変換</h1>
            <label>掲示板のURL:</label>
            <input id="url" type="text" name="url"/>
            <input type="submit" />
        </fieldset>
    </form>

    <div>
      <a href="/about">JBBS Proxy for Mobile Safari について</a>
    </div>

</body>
</html>
