% my $title = 'JBBS Proxy for Mobile Safari';
<html>
<head>
<title><%= $title %></title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<link rel="apple-touch-icon" href="/static/iui/iui-logo-touch-icon.png" />
<meta name="apple-touch-fullscreen" content="YES" />
<style type="text/css" media="screen">@import "/static/iui/iui.css";</style>
<script type="application/x-javascript" src="/static/iui/iui.js"></script>
</head>
<body>

<h1><%= $title %></h1>

<form action="" method="post">
<input type="text" name="url" value="" />
</form>

<div>
<a href="/about">JBBS Proxy for Mobile Safari について</a>
</div>
</body>
</html>
