% my $arg = shift;
% my $category = $arg->{category};
% my $address = $arg->{address};
% my $number = $arg->{number};
% my $comments = $arg->{comments};
% my $title = $arg->{title};
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/iui/iui.css" />
<script type="text/javascript" src="/static/iui/iui.js" charset="shift_jis"></script>
</head>
<body>

<h1><%= $title %></h1>

<div>
% for my $comment (@$comments) {
<p>
<%= $comment->{number} %>:
% if ($comment->{email}) {
<a href="<%= $comment->{email} %>">
% }
<%= $comment->{name} %>
% if ($comment->{email}) {
</a>
% }
:
<%= $comment->{created_at} %><br />
<%= Text::MicroTemplate::encoded_string($comment->{body}) %>
</p>
% }

</div>

</body>
</html>
