% my $arg = shift;
% my $category = $arg->{category};
% my $address = $arg->{address};
% my $number = $arg->{number};
% my $comments = $arg->{comments};
% my $title = $arg->{title};
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<link rel="apple-touch-icon" href="/static/iui/iui-logo-touch-icon.png" />
<meta name="apple-touch-fullscreen" content="YES" />
<style type="text/css" media="screen">@import "/static/iui/iui.css";</style>
<script type="application/x-javascript" src="/static/iui/iui.js"></script>
</head>
<body>

  <div class="toolbar">
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
  </div>

  <ul id="comments" title="<%= $title %>" selected="true">
% use Data::Dumper;
% for my $comment (@$comments) {
    <li>
      <%= Dumper($comment) %>
      <%= $comment->{number} <%= $comment->{name} %> <%= $comment->{created_at} %><br />
      <%= Text::MicroTemplate::encoded_string($comment->{body}) %>
    </li>
% }
  </ul>

</body>
</html>
