% my $arg = shift;
% my $category = $arg->{category};
% my $address = $arg->{address};
% my $number = $arg->{number};
% my $comments = $arg->{comments};
% my $title = $arg->{title};
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<link rel="apple-touch-icon" href="/static/iui/iui-logo-touch-icon.png" />
<meta name="apple-touch-fullscreen" content="YES" />
<style type="text/css" media="screen">@import "/static/iui/iui.css";</style>
<script type="application/x-javascript" src="/static/iui/iui.js"></script>
</head>
<body>

<h1><%= $title %></h1>

<div>
% for my $comment (@$comments) {
<p>
<%= $comment->{number} %>:
% if ($comment->{email}) {
<a href="<%= $comment->{email} %>">
% }
<%= $comment->{name} %>
% if ($comment->{email}) {
</a>
% }
:
<%= $comment->{created_at} %><br />
<%= Text::MicroTemplate::encoded_string($comment->{body}) %>
</p>
% }

</div>

</body>
</html>
